html,body{
    height: 100%;
}
body{
    background-image: url('pexels-katja-79053-592077.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content{
    background: transparent;
    backdrop-filter: blur(10px);
    width: 500px;
    height: 700px;
    border: 1px solid gray;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s ease;
    font-family: 'Playfair Display', serif;
    font-size: 15px;
    padding-left: 15px;
}
#content.show{
    opacity: 1;
}
#preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 10s ease;
}
.loader{
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1.5s linear infinite;
}
@keyframes spin {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


